html,body{
    background: none;
    width: 100%;
    margin: auto;
    background-image: url(https://dm2306files.storage.live.com/y4mzo9Uq4w7RZsnVMqQwTfhkPdawrhWIMT5fr8xN9rBhOLw5CpvL4R3kv0efVSyzzi-efWEYcPNmDC0dN9JhzhjJ8xpeVXTEvpxeWR-ojsPHMSLHfs3tDqpFvq4DrdIiUrwlDrB3BKJ5ogEUDtJTWayoVJwkYRWnVQlKDJFSTTq3HDJfl_f44-4c8dxhBSRc_3b?width=1920&height=1920&cropmode=none);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
}
.nav{
   width: 100%;
   border: 1px solid black;
   height: 60px;
   margin-top: -8px;
   background-color: black;
   text-align: right;
   padding-top: 20px;
}
.nav a{
    text-decoration: none;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    padding: 25px;
    color: white;
}

.highly-recommended,.starter,.non-veg,.veg,.drinks{
    height: 50px;
    width: 400px;
    border-radius: 25px;
font-family:'Times New Roman', Times, serif;
font-weight: bold;
font-style: italic;
font-size: 24px;
text-transform: capitalize;
color: red;
}
.starterpack{
margin-top: 100px;
margin-left: 550px;
}
.starterpack :hover,.drinkspack :hover,.highly :hover,.non-vegpack :hover,.vegpack :hover{
    color: blue;
    box-shadow: 5px 10px 15px black;
}
.non-vegpack,.drinkspack{
margin-top: 80px;
margin-left: 550px;
}
.vegpack,.highly{
margin-top: 80px;
margin-left: 550px;
}
p{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    
}
.popuphighly,.popupstarter,.popupnon-veg,.popupveg,.popupdrinks{
    margin-left: 400px;
}













@media screen and (max-width :1000px)  {
    html,body{
       background-image: url(https://dm2306files.storage.live.com/y4mzo9Uq4w7RZsnVMqQwTfhkPdawrhWIMT5fr8xN9rBhOLw5CpvL4R3kv0efVSyzzi-efWEYcPNmDC0dN9JhzhjJ8xpeVXTEvpxeWR-ojsPHMSLHfs3tDqpFvq4DrdIiUrwlDrB3BKJ5ogEUDtJTWayoVJwkYRWnVQlKDJFSTTq3HDJfl_f44-4c8dxhBSRc_3b?width=1920&height=1920&cropmode=none);
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       margin: auto;
    }
    .highly{
        padding: 20px;  
        margin-left: 300px; 
        margin-top: 60px;
    }
    .non-vegpack,.drinkspack{
        margin-top: 100px;
        margin-left: 300px;
        }
        .vegpack,.starterpack{
            margin-top: 100px;
            margin-left: 80px;
            }
            .highly-recommended,.starter,.non-veg,.veg,.drinks{
                height: 70px;
                width: 500px;
                border-radius: 25px;
            font-family:'Times New Roman', Times, serif;
            font-weight: bold;
            font-style: italic;
            font-size: 36px;
            text-transform: capitalize;
            color: black;
            background-color: lightcoral;
            }

            .starterpack :hover,.drinkspack :hover,.highly :hover,.non-vegpack :hover,.vegpack :hover{
                color: whitesmoke;
                box-shadow: 5px 10px 15px black;
                background-color: orange;
            }

            .popuphighly,.popupstarter,.popupnon-veg,.popupveg,.popupdrinks{
                margin-left: 20px;
            }
.close,.close2,.close1,.close3,.close4{
    height: 50px;
    width: 200px;
    font-size: 36px;
    font-weight: bold;
}

            
}